.Wire {
  clear: both;
  margin: 5px auto;
  width: 900px;
  position: relative;
}

.Wire-cell-rail {
  height: 2px;
  background-color: #999;
  position: absolute;
  top: 20px;
  width: 100%;
}

.Wire-cell {
  width: 42px;
  height: 42px;
  border: 2px solid #999;
  border-radius: 20px;
  margin: 0 5px 5px 0;
  background-color: #666;
  display: inline-block;
  cursor: pointer;
  position: relative;
  transition: transform .2s ease-out;
  float: left;
  left: 0px;
}

.Wire-cell-left {
  left: 0px;
}

.Wire-cell-right {
  transform: translate3d(440px, 0px, 0px);
}

.Wire-cell-color-wood      { background-color: #FFE5BC; }
.Wire-cell-color-wood2     { background-color: #FFDBA3; }
.Wire-cell-color-yellow    { background-color: #FFCB46; }
.Wire-cell-color-yellow2   { background-color: #CCA238; }
.Wire-cell-color-red       { background-color: #FF6946; }
.Wire-cell-color-red2      { background-color: #CC5438; }
.Wire-cell-color-green     { background-color: #82D736; }
.Wire-cell-color-green2    { background-color: #73BD30; }
.Wire-cell-color-blue      { background-color: #3EA1CB; }
.Wire-cell-color-blue2     { background-color: #2E7998; }

/*
 * Reponsive - http://stephen.io/mediaqueries/
 */

/* landscape ipad */
@media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px)
  and (orientation : landscape)
{
  .Wire {
    width: 900px;
    padding-top: 20px;
  }
  .Wire-cell-rail {
    top: 40px;
  }
  .Wire-cell-right {
    transform: translate3d(440px, 0px, 0px);
  }
}

/* portrait ipad */
@media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px)
  and (orientation : portrait)
{
  .Wire {
    width: 700px;
    padding-top: 30px;
  }
  .Wire-cell-rail {
    top: 50px;
  }
  .Wire-cell {
    width: 30px;
    height: 40px;
    border-radius: 20px;
  }
  .Wire-cell-right {
    transform: translate3d(340px, 0px, 0px);
  }
}

/* landscape iphone 6 */
@media only screen
  and (min-device-width : 375px)
  and (max-device-width : 667px)
  and (orientation : landscape)
{
  .Wire {
    width: 600px;
    padding-top: 3px;
  }
  .Wire-cell-rail {
    top: 13px;
  }
  .Wire-cell {
    width: 20px;
    height: 20px;
  }
  .Wire-cell-right {
    transform: translate3d(335px, 0px, 0px);
  }
}

/* portrait iphone 6 */
@media only screen
  and (min-device-width : 375px)
  and (max-device-width : 667px)
  and (orientation : portrait)
{
  .Wire {
    width: 300px;
    padding-top: 20px;
  }
  .Wire-cell-rail {
    top: 30px;
  }
  .Wire-cell {
    width: 15px;
    height: 20px;
  }
  .Wire-cell-right {
    transform: translate3d(85px, 0px, 0px);
  }
}
