.Wire {
  clear: both;
  margin: 5px auto;
  width: 900px;
  position: relative;
}

.Wire-cell-rail {
  background-color: #333;
  box-shadow: inset 0 0 3px #000;
  border-radius: 3px;
  height: 8px;
  position: absolute;
  top: 18px;
  width: 100%;
}

.Wire-cell {
  width: 42px;
  height: 42px;
  border: 0px solid #999;
  border-radius: 20px;
  margin: 0 5px 5px 0;
  background-color: #666;
  display: inline-block;
  cursor: pointer;
  position: relative;
  transition: transform .2s ease-out;
  float: left;
  left: 0px;
}

.Wire-cell-left {
  left: 0px;
}

.Wire-cell-right {
  transform: translate3d(440px, 0px, 0px);
}

.Wire-cell-color-wood      { background: radial-gradient(circle farthest-side at 0 0%, #fff -50%, #FFE5BC); }
.Wire-cell-color-wood2     { background: radial-gradient(circle farthest-side at 0 0%, #fff -50%, #FFDBA3); }
.Wire-cell-color-yellow    { background: radial-gradient(circle farthest-side at 0 0%, #fff -50%, #FFCB46); }
.Wire-cell-color-yellow2   { background: radial-gradient(circle farthest-side at 0 0%, #fff -50%, #CCA238); }
.Wire-cell-color-red       { background: radial-gradient(circle farthest-side at 0 0%, #fff -50%, #FF6946); }
.Wire-cell-color-red2      { background: radial-gradient(circle farthest-side at 0 0%, #fff -50%, #CC5438); }
.Wire-cell-color-pink      { background: radial-gradient(circle farthest-side at 0 0%, #fff -50%, #cb3e7b); }
.Wire-cell-color-pink2     { background: radial-gradient(circle farthest-side at 0 0%, #fff -50%, #b93870); }
.Wire-cell-color-green     { background: radial-gradient(circle farthest-side at 0 0%, #fff -50%, #82D736); }
.Wire-cell-color-green2    { background: radial-gradient(circle farthest-side at 0 0%, #fff -50%, #73BD30); }
.Wire-cell-color-blue      { background: radial-gradient(circle farthest-side at 0 0%, #fff -50%, #3EA1CB); }
.Wire-cell-color-blue2     { background: radial-gradient(circle farthest-side at 0 0%, #fff -50%, #2E7998); }

/*
 * Reponsive - http://stephen.io/mediaqueries/
 */

/* landscape ipad */
@media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px)
  and (orientation : landscape)
{
  .Wire {
    width: 900px;
    padding-top: 20px;
  }
  .Wire-cell-rail {
    top: 40px;
  }
  .Wire-cell-right {
    transform: translate3d(440px, 0px, 0px);
  }
}

/* portrait ipad */
@media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px)
  and (orientation : portrait)
{
  .Wire {
    width: 700px;
    padding-top: 30px;
  }
  .Wire-cell-rail {
    top: 50px;
  }
  .Wire-cell {
    width: 30px;
    height: 40px;
    border-radius: 20px;
  }
  .Wire-cell-right {
    transform: translate3d(340px, 0px, 0px);
  }
}

/* landscape iphone 6 */
@media only screen
  and (min-device-width : 375px)
  and (max-device-width : 667px)
  and (orientation : landscape)
{
  .Wire {
    width: 600px;
    padding-top: 3px;
  }
  .Wire-cell-rail {
    top: 13px;
  }
  .Wire-cell {
    width: 20px;
    height: 20px;
  }
  .Wire-cell-right {
    transform: translate3d(335px, 0px, 0px);
  }
}

/* portrait iphone 6 */
@media only screen
  and (min-device-width : 375px)
  and (max-device-width : 667px)
  and (orientation : portrait)
{
  .Wire {
    width: 300px;
    padding-top: 20px;
  }
  .Wire-cell-rail {
    top: 30px;
  }
  .Wire-cell {
    width: 15px;
    height: 20px;
  }
  .Wire-cell-right {
    transform: translate3d(85px, 0px, 0px);
  }
}
