.Wire {
  clear: both;
  margin: 5px auto;
  width: 900px;
  position: relative;
}

.Wire-cell-rail {
  height: 2px;
  background-color: #999;
  position: absolute;
  top: 20px;
  width: 100%;
}

.Wire-cell {
  width: 38px;
  height: 38px;
  border: 2px solid #999;
  border-radius: 20px;
  margin: 0 5px 5px 0;
  background-color: #666;
  display: inline-block;
  cursor: pointer;
  position: relative;
  transition: transform .2s ease-out;
  float: left;
  left: 0px;
}

.Wire-cell-left {
  left: 0px;
}

.Wire-cell-right {
  transform: translate3d(440px, 0px, 0px);
}
